<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Office</title>
</head>
<body>
    <h1>Create Office</h1>
    <form id="createOfficeForm" th:object="${officeRequest}">
        <table>
            <tbody>
            <tr>
                <td>
                    <label for="spaceName">Name</label>
                    <input id="spaceName" name="name" type="text" th:field="*{name}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="type">Type</label>
                    <input id="type" name="type" type="text" th:field="*{type}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="size">Size</label>
                    <input id="size" name="size" type="number" th:field="*{size}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="floor">Floor</label>
                    <input id="floor" name="floor" type="number" th:field="*{floor}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="price">Price</label>
                    <input id="price" name="price" type="number" step="1" th:field="*{price}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="priceUnit">Price Unit</label>
                    <select id="priceUnit" name="priceUnit" th:field="*{priceUnit}" required>
                        <option th:each="unit : ${priceUnits}" th:value="${unit}" th:text="${unit}">Price Unit</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="noOfDesks">Number of Desks</label>
                    <input id="noOfDesks" name="noOfDesks" type="number" th:field="*{noOfDesks}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="numberOfSeats">Number of Seats</label>
                    <input id="numberOfSeats" name="numberOfSeats" type="number" th:field="*{numberOfSeats}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="hasAC">Has AC</label>
                    <input id="hasAC" name="hasAC" type="checkbox" th:field="*{hasAC}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="hasPrinterAccess">Has Printer Access</label>
                    <input id="hasPrinterAccess" name="hasPrinterAccess" type="checkbox" th:field="*{hasPrinterAccess}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="isAvailable">Is available</label>
                    <input id="isAvailable" name="isAvailable" type="checkbox" th:field="*{isAvailable}"/>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button" onclick="submitForm()">Create Office</button>
    </form>
    <button onclick="location.href='/space/'">Back to homepage</button>
    <script>
        function submitForm() {
            const form = document.getElementById('createOfficeForm');
            const formData = new FormData(form);
            const jsonData = {};
            formData.forEach((value, key) => {
                jsonData[key] = value;
            });
            jsonData['hasAC'] = document.getElementById('hasAC').checked;
            jsonData['hasPrinterAccess'] = document.getElementById('hasPrinterAccess').checked;

            fetch('/space/create/office', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                window.location.href = '/space/all';
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
