<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spaces</title>
</head>
<body>
    <h1>Spaces</h1>
    <button onclick="location.href='/space/all'">All Spaces</button>
    <button onclick="location.href='/space/available'">Available Spaces</button>
    <button onclick="location.href='/space/create/office'">Add Office</button>
    <button onclick="location.href='/space/create/conferenceroom'">Add Conference Room</button>
    <button onclick="location.href='/space/revenue'">Calculate revenue</button>
</body>
</html>
